.main-wrap-initial {
    background: #f3f8fd;
}
h1.initial-head {
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 10px 10px 10px 10px;
    background: #205b98;
    font-size: 30px;
    text-align: center;
    color: #fff;
    font-weight: 400;
}
.link-back {
    margin-top: 46px;
}
.link-back a {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 16px;
    background: #e8edf2;
    background-image: url(./images/arrow.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 10px;
    padding-left: 30px;
    font-size: 18px;
}
.bg-initial {
    background: #205b98;
    margin-top: 50px;
}
.bg-initial .img-container {
    width: 100%;
    height: 460px;
}
.bg-initial .man {
    background: url(./images/initial-man.png);
    -webkit-background-size: contain;
    background-size: contain;
    background-position-x: center;
    background-repeat: no-repeat;
    background-position-y: 0;
    margin-top: 20px;
}
p.work-desc {
    font-size: 16px;
    color: #464c55;
    padding-top: 30px;
}
p.work-desc-next {
    font-size: 16px;
    color: #464c55;
    padding-top: 20px;
    margin-bottom: 0;
}
.initial-desc {
    font-size: 24px;
    color: #fff;
    padding-top: 110px;
    padding-left: 40px;
}
.initial-cost {
    font-size: 24px;
    color: #fff;
    padding-left: 40px;
    font-weight: 500;
    padding-top: 50px;
}
.cost{
    font-size: 36px;
    padding-left: 20px;
}
.initial-second {
    margin-top: 30px;
    margin-bottom: 60px;
}
.initial-head {
    background: #f3f8fd;
    border: 1px solid #e4ebf2;
}
.initial-name {
    margin-bottom: 0;
    padding-left: 30px;
    padding-left: 30px;
    padding-top: 26px;
    padding-bottom: 26px;
    font-size: 24px;
    color: #464c55;
    font-weight: 500;
}
.initial-list {
    padding-left: 40px;
    padding-top: 26px;
    font-size: 14px;
    color: #464c55;
    margin-bottom: 0;
    padding-bottom: 20px;
}
.initial-body {
    border-left: 1px solid #e4ebf2;
    border-right: 1px solid #e4ebf2;
}
.initial-footer {
    background: #f3f8fd;
    border: 1px solid #e4ebf2;
}
.initial-price {
    color: #3c434d;
    font-size: 36px;
    text-align: center;
    font-weight: 500;
    padding-top: 20px;
}

.link-initial a {
    cursor: pointer;
    background: #fbd302;
    color: #333;
    text-align: center;
    padding: 18px 70px;
    font-size: 18px;
    font-weight: 400;
}
.link-initial {
    text-align: center;
    padding-top: 14px;
    padding-bottom:40px;
}
.initial-second .col-md-6 {
    padding-left: 0;
    padding-right: 0;
}
.wrap-initial-left {
    padding-right: 14px;
}
.wrap-initial-right {
    padding-left: 14px;
}
.wrap-initial-right .initial-body {
    padding-bottom: 68px;
}

@media (max-width: 1199px){
    .wrap-initial-left .initial-body {
        padding-bottom: 58px;
    }
    .cost {
        padding-left: 0;
    }
}
@media (max-width: 991px){
    .wrap-initial-left, .wrap-initial-right {
        padding-right: 14px;
        padding-left: 14px;
    }
    .work-desc, .work-desc-next {
        padding-left: 14px;
        padding-right: 14px;
    }

    .initial-second .wrap-initial-right {
        padding-top: 30px;
    }
    .initial-list {
        padding-right: 14px;
    }
    .wrap-initial-right .initial-body {
        padding-bottom: 0;
    }
    .initial-price {
        font-size: 30px;
    }
    .initial-desc {
        padding-top: 50px;
    }
    .initial-cost {
        padding-top: 24px;
    }
}
@media (max-width: 360px){
    .bg-initial .img-container {
        height: 402px;
    }
}