.main-wrap-minimal {
    background: #f3f8fd;
}
.wrap-head {
    text-align: center;
}
h1.minimal-head {
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 10px 10px 10px 10px;
    background: #205b98;
    font-size: 30px;
    text-align: center;
    color: #fff;
    font-weight: 400;
    display: inline-block;
}
.link-back {
    margin-top: 46px;
}
.link-back a {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 16px;
    background: #e8edf2;
    background-image: url(./images/arrow.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 10px;
    padding-left: 30px;
    font-size: 18px;
}
.bg-minimal {
    background: #205b98;
    margin-top: 50px;
}
.bg-minimal .img-container {
    width: 100%;
    height: 460px;
}
.bg-minimal .man {
    background: url(./images/initial-man.png);
    -webkit-background-size: contain;
    background-size: contain;
    background-position-x: center;
    background-repeat: no-repeat;
    background-position-y: 0;
    margin-top: 20px;
}
p.work-desc {
    font-size: 16px;
    color: #464c55;
    padding-top: 30px;
}
p.work-desc-next {
    font-size: 16px;
    color: #464c55;
    padding-top: 20px;
    margin-bottom: 0;
}
.minimal-desc {
    font-size: 24px;
    color: #fff;
    padding-top: 110px;
    padding-left: 40px;
}
.minimal-cost {
    font-size: 24px;
    color: #fff;
    padding-left: 40px;
    font-weight: 500;
    padding-top: 50px;
}
.minimal-cost .cost {
    font-size: 36px;
    padding-left: 0;
    display: block;
}
.minimal-second {
    margin-top: 30px;
    margin-bottom: 60px;
}
.minimal-head {
    background: #f3f8fd;
    border: 1px solid #e4ebf2;
}
.minimal-name {
    margin-bottom: 0;
    padding-left: 30px;
    padding-left: 30px;
    padding-top: 26px;
    padding-bottom: 26px;
    font-size: 24px;
    color: #464c55;
    font-weight: 500;
}
.minimal-list {
    padding-left: 40px;
    padding-top: 26px;
    font-size: 14px;
    color: #464c55;
    margin-bottom: 0;
    padding-bottom: 20px;
}
.minimal-body {
    border-left: 1px solid #e4ebf2;
    border-right: 1px solid #e4ebf2;
}
.minimal-footer {
    background: #f3f8fd;
    border: 1px solid #e4ebf2;
}
.minimal-price {
    color: #3c434d;
    font-size: 36px;
    text-align: center;
    font-weight: 500;
    padding-top: 20px;
}

.link-minimal a {
    cursor: pointer;
    background: #fbd302;
    color: #333;
    text-align: center;
    padding: 18px 70px;
    font-size: 18px;
    font-weight: 400;
}
.link-minimal {
    text-align: center;
    padding-top: 14px;
    padding-bottom:40px;
}
.minimal-second .col-md-6 {
    padding-left: 0;
    padding-right: 0;
}
.wrap-minimal-left {
    padding-right: 14px;
}
.wrap-minimal-right {
    padding-left: 14px;
}
.wrap-minimal-right .minimal-body {
    padding-bottom: 68px;
}

@media (max-width: 1199px){
    .wrap-minimal-left .minimal-body {
        padding-bottom: 0;
    }

}
@media (max-width: 991px){
    .wrap-minimal-left, .wrap-minimal-right {
        padding-right: 14px;
        padding-left: 14px;
    }
    .work-desc, .work-desc-next {
        padding-left: 14px;
        padding-right: 14px;
    }

    .minimal-second .wrap-minimal-right {
        padding-top: 30px;
    }
    .minimal-list {
        padding-right: 14px;
    }
    .wrap-minimal-right .minimal-body {
        padding-bottom: 0;
    }
    .minimal-price {
        font-size: 30px;
    }
    .minimal-desc {
        padding-top: 50px;
    }
    .minimal-cost {
        padding-top: 24px;
    }
    .col-sm-8, :after, :before {
        -webkit-box-sizing: unset;
        -moz-box-sizing: unset;
        box-sizing: unset;
    }
    .minimal-name {
        padding-right: 14px;
        padding-left: 14px;
    }
}
@media (max-width: 480px) {
    .minimal-cost .cost {
        font-size: 28px;
    }
    .minimal-desc {
        padding-left: 14px;
    }
    .minimal-cost {
        padding-left: 14px;
    }
    h1.minimal-head {
        display: block;
    }
}
@media (max-width: 360px){
    .bg-minimal .img-container {
        height: 402px;
    }
    .minimal-cost .cost {
        font-size: 24px;
    }
}